{
  "swagger": "2.0",
  "info": {
    "version": "2021-03-08T15:59:59Z",
    "title": "smartbarrel-api-mobilePunch-api-staging"
  },
  "host": "mobile-punch.connectedbarrelapi.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/projects/{phoneNumber}": {
      "get": {
        "parameters": [
          {
            "name": "phoneNumber",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {},
        "security": [
          {
            "mobilePunchAuthorizer": []
          }
        ]
      },
      "options": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Headers": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/punch": {
      "post": {
        "responses": {},
        "security": [
          {
            "mobilePunchAuthorizer": []
          }
        ]
      }
    },
    "/register": {
      "post": {
        "responses": {}
      }
    }
  },
  "securityDefinitions": {
    "mobilePunchAuthorizer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "x-amazon-apigateway-authtype": "custom"
    }
  }
}